<%= form_with(model: restaurant) do |form| %>
  <% if restaurant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "new-text" %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location, class: "new-text" %>
  </div>
<!--
  <div>
    %= form.label :willSplit, style: "display: block" %>
    %= form.number_field :willSplit %>
  </div>

  <div>
    < form.label :wontSplit, style: "display: block" %>
    < form.number_field :wontSplit %>
  </div>
-->
  <div>
    <%= form.submit class: "btn-primary" %>
    <% if restaurant.persisted? %>
      <%= link_to "Cancel", restaurant_path(restaurant), class: "btn-primary" %>
    <% else %>
      <%= link_to "Cancel", restaurants_path, class: "btn-primary" %>
    <% end %>
  </div>
<% end %>
