<div id="<%= dom_id restaurant %>" class = "show-content">
  <p class="show-restaurant">
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= restaurant.location %>
  </p>
  <div>
    <div class = "split-info">
      <div>Will Split:</div>
      <%= restaurant.willSplit %>
    </div>
    <div class="split-info">
      <div >Won't Split:</div>
      <%= restaurant.wontSplit %>
    </div>
  </div>

  <div>
    <p>Cast Your Vote</p>
  </div>

  <%= button_to "Will Split", increment_will_split_restaurant_path(restaurant, restaurant_id: restaurant.id), method: :patch %>
  <%= button_to "Won't Split", increment_wont_split_restaurant_path(restaurant, restaurant_id: restaurant.id), method: :patch %>
</div>
