<div id="<%= dom_id restaurant %>" class="show-content">
  <p class="show-restaurant">
    <%= restaurant.name %>
  </p>
  <div>
    <div class="split-info green">
      <div>Will Split:</div>
      <%= restaurant.willSplit %>
    </div>
    <div class="split-info red">
      <div>Won't Split:</div>
      <%= restaurant.wontSplit %>
    </div>
  </div>
  <%if logged_in? %>
    <% if current_user.has_voted?(restaurant) %>
      <p>You have already voted for this restaurant. Thanks for your vote! </p>
    <%else %>
      <p class="large-text">Cast Your Vote</p>
      <div class="btn-group">
        <%= button_to "Will Split", increment_will_split_restaurant_path(restaurant, restaurant_id: restaurant.id), method: :patch, class: "btn btn-will", disabled: current_user.has_voted?(restaurant) %>
        <%= button_to "Won't Split", increment_wont_split_restaurant_path(restaurant, restaurant_id: restaurant.id), method: :patch, class: "btn btn-wont", disabled: current_user.has_voted?(restaurant) %>
      </div>
    <% end %>
  <% end %>
</div>
